<%+header%>

<h2>
	<a id="content" name="content">
		Willkommen
	</a>
</h2>

<div style="margin-bottom: 1em">
	Bevor sie ihren Flukso nutzen können sind noch ein paar Schritte notwendig. Diese müssen in der unten beschriebenen Reihenfolge durchgeführt werden.
</div>

<div style="padding: 0.5em 1em; background-color: white; border-width: 1px; border-style: dotted; border-color: #555;">
	<ol style="margin: 0.5em 1em 0.5em 1.5em">
		<li style="margin-bottom: 0.5em">
			Um die Netzwerkverbindung des Flukso zu konfigurieren gehen sie bitte zur <a href="/cgi-bin/luci/wifi">WiFi-Seite</a> und nehmen die notwendigen Einstellungen für ihr WLAN vor.
		</li>
		<li style="margin-bottom: 0.5em">
			Anschließend konfigurieren sie bitte die Sensoren ihres Flukso auf der <a href="/cgi-bin/luci/sensor">Sensor-Seite</a>.
		</li>
		<li style="margin-bottom: 0.5em">
			Zum Schluss folgen sie bitte den Anweisungen auf der <a href="/cgi-bin/luci/registration">Registration-Seite</a> um den Flukso mit ihrem mySmartgrid-Account zu verknüpfen.
		 </li>
	</ol>
</div>

<div style="margin: 1em 0;">
	Sie können jederzeit über den "Welcome"-Link im oberen Teil der Seite zu dieser Seite zurückkehren.
</div>

<%+footer%>
