<%+header%>

<h2>
	<a id="content" name="content">
		<p lang="en">Welcome</p>
	</a>
</h2>

<div style="margin-bottom: 1em">
	<p lang="en">Before you can use your Flukso, a few more steps are necessary. They must be taken in the order described below.</p>
</div>

<div style="padding: 0.5em 1em; background-color: white; border-width: 1px; border-style: dotted; border-color: #555;">
	<ol style="margin: 0.5em 1em 0.5em 1.5em">
		<li style="margin-bottom: 0.5em">
			<span lang="en">To configure the network connection, please go to the</span> <a href="/cgi-bin/luci/wifi" lang="en">WiFi page</a> <span lang="en">and inform your WLAN settings.</span>
		</li>
		<li style="margin-bottom: 0.5em">
			<span lang="en">Then, please configure the Flukso sensors at the</span> <a href="/cgi-bin/luci/sensor" lang="en">sensor page</a>.
		</li>
		<li style="margin-bottom: 0.5em">
			<span lang="en">Finally, please follow the instructions on the</span> <a href="/cgi-bin/luci/registration" lang="en">registration page</a> <span lang="en">in order to link the Flukso device with your mySmartGrid account.</span>
		</li>
	</ol>
</div>

<%+footer%>
